html,
body {
	margin: 0;
	padding: 0; 
	-webkit-font-smoothing: antialiased;
}

#banner {
	overflow: hidden;
	cursor: pointer;
	width: <%= width %>px;
	height: <%= height %>px;
	position: relative;
	background: #eee;
	margin:0 auto;
}